@keyframes change-background {
  0% {
    background-color: $purple-darkest;
  }

  100% {
    background-color: $purple-darker;
  }
}

@keyframes expand-header {
  from {
    width: 0%;
  }

  to {
    width: 100%
  }
}

